
.add-airline-layout{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    }
    .example-headers-align .mat-expansion-panel-header-description {
      justify-content: space-between;
      align-items: center;
    }
    
    .example-headers-align .mat-form-field + .mat-form-field {
      margin-left: 8px;
    }
    .add-airline-form{
    
      display: flex;
      flex-direction:column;
    }
    .example-form-field {
        margin-right: 20px;
      }
      
      
      .airline-card-layout{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 150px;
        justify-content: space-around;
        }
        
        .example-card {
         
            max-width: 400px;
            background-color: bisque;
            border: 3px solid coral;
            margin: 10px;
          }
          