p{

    text-align: center;
  }
  .airline-card-layout{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 150px;
  }
  
  .example-card {
   
      max-width: 400px;
      background-color: bisque;
      border: 3px solid coral;
      margin: 10px;
    }