
.bg{
      
    color: #fff;
   
    background-size:  100%;  
    background-position: center;
  background-repeat: no-repeat;
  
  background-image: url("/assets/images/flight.jpg") 
  }

  
 
  


  